#boardContainer {
  display: flex;
  gap: 25px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 3px;
}

.cell {
  display: block;
  /* height: 30px;
  width: 30px; */
  background-color: #f2f2f2;
}

.cell:hover {
  background-color: #ccc;
  cursor: crosshair;
}

.ship {
  background-color: navy !important;
}

.placement-cell {
  background-color: #f2f2f2;
}
