* {
  box-sizing: border-box;
}

.message-container {
  display: flex;
  background-color: #f7f7f7;
  padding: 8px;
}

#boardContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
}

.ship {
  background-color: slategrey !important;
  /* border: 2px solid #212121; */
}

.cell {
}

.cell-base {
  background-color: #f2f2f2;
}

.cell-selected {
  background-color: #ccc;
}

.cell-unavailable {
  background-color: red;
  cursor: not-allowed;
}

.cell-opponent {
  cursor: crosshair;
}

.cell-opponent:hover {
  background-color: lightcoral;
}

.cell-receivedshot {
  border: 2px solid yellow;
}

.cell-hit {
  border: 2px solid red;
}

.cell-missed {
  background-color: steelblue;
}

.carrier {
  /* background-color: crimson; */
}

.battleship {
  /* background-color: darkolivegreen; */
}

.destroyer {
  /* background-color: violet; */
}

.submarine {
  /* background-color: orange; */
}

.patrolboat {
  /* background-color: cadetblue; */
}
